<!DOCTYPE html>
<html>
<head>
    <title>新闻,娱乐,时尚,欢乐就在搜闻天下</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="description" content="新闻,娱乐,时尚,欢乐就在搜闻天下" />
    <meta name="keywords" content="新闻,娱乐,时尚,欢乐就在搜闻天下" />
    <meta http-equiv="mobile-agent" content="format=xhtml;url=index.html" />
    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- header -->
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="~/Content/Images/logo.png" width="140" height="40" alt="" /></a></div>
        <div class="tel"><img src="~/Content/Images/tel.png" alt="" /></div>
    </div>
    <div class="nav_bg">
        <div class="nav_m">
            <ul class="nav clearfix">
                <li class="now"><a href="/Home/Index">首页</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/News/Index">新闻</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/Sports/Index">体育</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/Entertainment/Index">娱乐</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/Technology/Index">科技</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/Tourism/Index">旅游</a></li>
                <li class="line">&nbsp;</li>
                <li><a href="/Education/Index">教育</a></li>
            </ul>
            <div class="search">
                <input name="" type="text" placeholder="请输入搜索内容">
                <input name="" type="submit" value="" class="btn">
            </div>
        </div>
    </div>
    <!-- /header -->
    @RenderBody()

    <!-- footer -->
    <div class="footer w960 center mt1 clear">
        <div class="footer_left"></div>
        <div class="footer_body">
            <p>做新闻网站，我们是认真的。<a target='_blank' href="#">如有疑问，请留言</a></p>
        </div>
        <div class="footer_right"></div>
    </div>
    <!-- /footer -->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
