@{
    ViewBag.Title = "1024";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>搜闻天下后台管理系统</title>
    <link href="~/Content/assets/css/dpl-min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bui-min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main-min.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="dl-title">
            <a style="font-size:12px" class="myData" href="#" title="修改个人资料">修改个人资料</a>

            <!--<img src="/chinapost/Public/assets/img/top.png">-->
        </div>
        <div class="dl-title" style="float:right;cursor:pointer"><a href="/Account/LoginOut" style="font-size:12px">退出</a></div>
    </div>
    <div class="content">
        <div class="dl-main-nav">
            <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
            <ul id="J_Nav" class="nav-list ks-clear">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">功能</div></li>
            </ul>
        </div>
        <ul id="J_NavContent" class="dl-tab-conten"></ul>
    </div>
    <div id="content-wrapper">
        <div id="content-wrapperchild">
            @RenderSection("breadcrumbContent", false)
            @RenderSection("pageHeaderContent", false)
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/assets/js/jquery-1.8.1.min.js"></script>
    <script src="~/Content/assets/js/bui-min.js"></script>
    <script src="~/Content/assets/js/common/main.js"></script>
    <script>
        $(function () {
            //只为刷存在感
            setTimeIndex();
            //获取菜单列表
            getMenuList();

            $(".myData").click(function () {
                //获取ID
                var id = 0;
                $.each(menuList, function () {
                    $.each(this.items, function () {
                        if (this.text == "员工管理") {
                            id = this.id;
                        }
                    })
                })
                MenuObject.openPage({ id: id })
            })
        });
        function setTimeIndex() {
            $.ajax({
                url: "@Url.Action("Index","Account") ",
                type: "get"
            }),
                setTimeout("setTimeIndex()", 60000);
        };
        var menuList = [];
        //获取菜单列表
        function getMenuList() {
            $.ajax({
                url: "@Url.Action("GetMenuByName", "Menu")",
                type: "post",
                dataType: "json",
                success: function (data) {
                    var firstMenu = [];
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].parentId == 0) {
                            firstMenu.push(data[i]);
                        }
                    }
                    firstMenu.sort(function (a, b) { return parseInt(a.postion) - parseInt(b.postion); })
                    for (var i = 0; i < firstMenu.length; i++) {
                        menuList.push({ text: firstMenu[i].name, items: [], id: firstMenu[i].id });
                    }
                    for (var j = 0; j < menuList.length; j++) {
                        data.sort(function (a, b) { return a.postion - b.postion; })
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].parentId == menuList[j].id) {
                                menuList[j].items.push({ text: data[i].name, href: '/' + data[i].path, id: data[i].id.toString() });
                            }
                        }
                    }

                    showMenu();
                }
            })
        }
        var MenuObject;
        //显示菜单
        function showMenu() {
            BUI.use('common/main', function () {
                var config = [
                    {
                        id: '1', menu: menuList
                    }];
                MenuObject = new PageUtil.MainPage({
                    modulesConfig: config
                });
            });
        }

    </script>
    <div style="text-align:center; ">

    </div>
</body>
</html>